@import '../../Base';

.list {
  display: inline-flex;
  flex-direction: column;
  background-color: #E2E4E6;
  margin: 5px;
  border-radius: 4px;
  width: 270px;

  .header{
    margin: 0;
    padding: 10px 10px 4px 8px;
    min-height: 18px;
    font-size: 14px;
    font-weight: 700;
    color: #4d4d4d;
  }

  .dialogue{
    .add-button{
      border-radius: 0 0 3px 3px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 0 0 10px;
      color: #8c8c8c;
    }

    .add-button:hover{
      cursor: pointer;
      text-decoration: underline;
      background: #CDD2D4;
    }
  }
}